# =========================
# DEPENDÊNCIAS
# =========================
node_modules/

# =========================
# BUILD / DIST
# =========================
dist/
build/

# =========================
# ENV
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# LOGS
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# SISTEMA OPERACIONAL
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITORES
# =========================
.vscode/
.idea/

# =========================
# CACHE
# =========================
.cache/
.tmp/
temp/

# =========================
# TESTES
# =========================
coverage/

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo

# =========================
# SQLITE
# =========================
*.sqlite
*.sqlite3

# =========================
# UPLOADS (caso exista pasta local)
# =========================
uploads/

# =========================
# PM2
# =========================
.pm2/

# =========================
# PRISMA
# =========================
prisma/dev.db
prisma/dev.db-journal

# =========================
# DOCKER
# =========================
docker-compose.override.yml

# =========================
# RENDER / DEPLOY
# =========================
.vercel/
.render/

# =========================
# MISC
# =========================
*.pem
*.key